*.exe
*.dll
*.ini
*.pub
*.asi
*.dr7
*.jpg
*.png
*.bm8
*.ico
*.vl2
*.ml
*.mp3
*.wav
*.avi
*.ifr
*.ifl
*.gft
*.ter
*.nav
*.spn
*.db*
*.dif
*.dsq
*.PNG
*.JPG
*.dml
*.dts
*.WAV
*.cfg
*EULA.txt
*UKEULA.txt
*UpdatePatch.txt
